<div class="main-div">
  <mat-card class="z-depth center" flex=50>
    <mat-card-title>Login</mat-card-title>
    <mat-card-content>
      <form class="example-form">
        <table class="example-full-width" cellspacing="0">
          <tr>
            <td>
              <mat-form-field class="example-full-width">
                <input matInput placeholder="Username" [(ngModel)]="inputUsername" name="username" required>
              </mat-form-field>
            </td>
          </tr>
          <tr>
          <td><mat-form-field class="example-full-width">
            <input matInput placeholder="Password" type="password" [(ngModel)]="inputPassword" name="password" required>
          </mat-form-field></td>
        </tr></table>
      </form>
    </mat-card-content>
    <mat-card-actions>
      <button mat-raised-button (click)="onSubmit()" color="primary">Login</button>
    </mat-card-actions>
  </mat-card>  
</div>