.example-container {
    display: flex;
    flex-direction: column;
  }
  
  .example-container > * {
    width: 100%;
  }

.email-input {
    height: 15em;
}
  
.error {
  background:#f44336;
  color: white;
}

.success {
  background: green;
  color: white;
}